<h3>{{pageTitle}}</h3>

<div class="row bottom10">
    <div class="col-sm-6 col-md-6">
        <ul class="list-inline">
            <li><strong>Platform</strong></li>
            <li><a [class.active]="platformFilter == ''" (click)="updatePlatformFilter('')">All</a></li>
            <li *ngFor="#p of platformList">
                | <a [class.active]="platformFilter == p" (click)="updatePlatformFilter(p)">{{p}}</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 col-md-6">

        <a class="dropdown-toggle pull-right" data-toggle="dropdown" id="viewList" title="order by">
            <i class="glyphicon glyphicon-th"></i>
        </a>


        <ul class="dropdown-menu pull-right" style="padding:17px;" aria-labelledby="viewList">
            <li><a (click)="orderby('gameTitle')">By title</a></li>
            <li><a (click)="orderby('releaseDate')">By release date</a></li>
            <li><a (click)="orderby('quantity')">By availablity</a></li>
        </ul>

    </div>
</div>

<div class="row bottom10">

    <div class="col-sm-6 col-md-4" *ngFor='#g of games | gamePlatformFilter : platformFilter | gameOrderFilter: orderbyFilter'>

        <div class="thumbnail">
            <img src="{{g.smallImageUrl}}" alt="{{g.gameTitle}" />
        </div>

        <div class="caption">
            <h3>{{g.gameTitle}}</h3>
            
            <p>{{g.platform}} - {{g.releaseDate}} - {{g.quantity}} / {{g.wishcount}}</p>

            <p *ngIf= "_authService.AuthorisedUser!=null">
                <a *ngIf="!isInMy('collection', g.gameId)" (click)="addToCollection(g)" class="btn btn-primary" role="button">
                    <i class="glyphicon glyphicon-plus"></i>My collection
                    {{isInMy('collection', g.gameId)}}
                </a>

                <a *ngIf="!isInMy('wishlist', g.gameId)" (click)="addToWish(g)" class="btn btn-default" role="button">
                    <i class="glyphicon glyphicon-plus"></i>My wish list
                    {{isInMy('wishlist', g.gameId)}}
                </a>
            </p>

        </div>
    </div>

</div>